.container {
  margin: 0 auto;
  padding: 0 1rem;
}

.container-narrow {
  max-width: 48rem;
}

.container-fluid {
  padding: 0 1rem;
}

.container-large {
  @media (min-width: 120rem) {
    width: 90vw;
  }
}
