<div class="datastore-list-container">
  <div class="container container-narrow">
    <ul class="datastore-list">
      <li class="selected">
        <a href="">Quick Search</a>
      </li>
      <li>
        <a href="">Catalog</a>
      </li>
      <li>
        <a href="">Articles</a>
      </li>
      <li>
        <a href="">Online Journals</a>
      </li>
      
      <li>
        <a href="">Databases</a>
      </li>
      <li>
        <a href="">Website</a>
      </li>
      <li>
        <a href="">More</a>
      </li>
    </ul>
  </div>
</div>
