{% extends "base.html" %}

{% block content %}
  <div class="search-box-container-full">
    <div class="container container-narrow">
      <div class="search-box">
        <input type="text" value="climate change"/>
        <input class="button search-box-button" type="submit" value="Search"/>
      </div>
    </div>
  </div>

  <div class="datastore-list-container">
    <div class="container container-narrow">
      <ul class="datastore-list" id="datastore-navigation">
        <li v-for="datastore in datastores" v-bind:class="{ active: datastore.isActive }">
          <a href="{{ datastore.url }}">{{ datastore.name }}</a>
        </li>
      </ul>
    </div>
  </div>
{% endblock %}
